<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-language" content="ru" />
<title>Logica</title>
<!-- main css -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<style>
#app {
        width: 800px;
        margin: 5vh auto;
      }

#area{
	border:2px solid #d3d3d3;
	border-radius: 15px;
}
.defc{
	fill: grey;
}
.defcs{
	fill: grey;
}
#step0 circle.defc{
	fill: rgba(153,217,234,0.5);
}
.inv{
	fill: rgba(153,217,234,0.5);
}
.bl{
	fill: black;
}
.wh{
	fill: white;
}
.c0{
	fill: #F44336;
}
.c1{
	fill: #E91E63;
}
.c2{
	fill: #3F51B5;
}
.c3{
	fill: #2196F3;
}
.c4{
	fill: #4CAF50;
}
.c5{
	fill: #FFC107;
}

.hlight{
	stroke-width:2px;
	stroke: #9999ff;
}
#app{
	width:217px;
	margin: 0 auto;
}
.cust_btn{
	width: 100%;
}
</style>
</head>

<body>
	<div id="app">
		<svg id="area" width="215" height="350">
			<g><text x="110" y="20" onclick="document.getElementById('id01').style.display='block'">Как играть?</text></g>
			<g v-for="(t, j) in vdata" :id="'step' + j">
				<circle class="defc" v-bind:class="{hlight: isHlight}" v-on:click="doone($event)"
				  v-for="(d, i) in data"
				  :cy="y(j)"
				  :cx="x(i)"
				  :r="bigr"
				/>
				
				<rect width="30" height="30" rx="4" ry="4" style="fill:pink"
					:x="rx(j)"
					:y="ry(j)"
				/>
				
				<circle class="defcs"
				  v-for="(d, i) in sdata"
				  :cy="sy(j, d)"
				  :cx="sx(i, d)"
				  :r="smallr"
				/>
			</g>
			<g v-if="showPalette">
				<circle v-on:click="pickColor($event)"
				  v-for="(t, j) in colors"
				  :cy="py"
				  :cx="px(j)"
				  :r="bigr"
				  :class="'c' + j"
				/>
			</g>
			<g v-if="showAnswer">
				<rect x="50" y="300" width="160" height="40" style="fill:white;stroke:red;stroke-width:2"/>
				<circle cy="320"
				  v-for="(t, j) in game"
				  :cx="x(j)"
				  :r="bigr"
				  :class="t"
				/>
			</g>
		</svg>
		<button class="cust_btn w3-button w3-blue w3-round-large" v-on:click="check()">CHECK</button>
		
		<div id="id01" class="w3-modal">
		  <div class="w3-modal-content">

			<header class="w3-container w3-teal"> 
			  <span onclick="document.getElementById('id01').style.display='none'" 
			  class="w3-button w3-display-topright">&times;</span>
			  <h5>Правило игры</h5>
			</header>

			<div class="w3-container">
			<ol>
				<li>Загадывается последовательность четырех цветов. Нужно их разгадать за 6 ходов</li>
				<li>После каждого хода получаете подсказку в виде белых и черных точек слева</li>
				<li>Черная точка - цвет присутствует и стоит на своем месте</li>
				<li>Белая точка - цвет присутствует, но не стоит на своем месте</li>
				<li>Пример: две белые и одна черная точка означает, что один цвет стоит на своем месте и два цвета присутствуют, но не стоят на своих местах. Последовательность точек не имеет значения</li>
				<li>Четыре черные точки - победа</li>
			</ol>			  
			<p>Погнали...</p>
			</div>
		  </div>
		</div>
	</div>
	
</body>
<script>
var game = generate_game();
function generate_game(){
	var gm = [];
	for (var i = 0;i < 4; i++){
		gm[i] = "c" + Math.trunc(Math.random() * (6));
	}
	return gm;
}
console.log(game);
var app = new Vue({
        el: '#app',
        data: {
          data: [1, 1, 1, 1],
		  vdata: [1, 1, 1, 1, 1, 1],
		  sdata: [0, 0, 1, 1],
		  defcolor: "grey",
		  colors: ['#F44336', '#E91E63', '#3F51B5', '#2196F3', '#4CAF50', '#FFC107'],
		  bigr: 15,
		  smallr: 5,
		  showPalette: false,
		  showAnswer: false,
		  isHlight: false,
		  prevdom: null,
		  pickedColor: null,
		  cursor: 0,
		  els: [],
		  resp: [],
		  shuffle: game
        },
		computed: {
			yp() { return 100; },
			py() { return 320; },
			
		  },
		methods: {
			x(i) { return i * 40 + 70; },
			y(i) { return 280 - i * 46; },
			rx(i) { return 10; },
			ry(i) { return 266 - i * 46; },
			sx(i, r) { return i * 15 + 17 - 2*15*r; },
			sy(i, r) { return 288 - i * 46  - 15*r; },
			px(i) { return i * 33 + 20; },
			getEvent(e){
				var target = e.target;
			},
			doone(e){
				if(e.target.parentNode.id == ('step' + this.cursor)){
					this.showPalette = true;
					if(this.prevdom){
						this.prevdom.classList.remove('hlight');
					}
					e.target.classList.add('hlight');
					this.els = [];
					for(var i=0;i<4;i++){
						this.els.push(e.target.parentNode.childNodes[i]);
					}
					this.prevdom = e.target;
				}
			},
			pickColor(e){
				this.showPalette=false
				if(this.prevdom){
					this.prevdom.classList.remove('hlight');
				}
				var c = e.target.classList;
				this.prevdom.classList.remove('defc', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'inv');
				this.prevdom.classList.add(c);
				
				this.prevdom = e.target;
			},
			check(){
				var k = 0;
				if(this.els.length > 0){
					for(var i=0;i<4;i++){
						if(this.els[i].classList[0] != 'defc'){
							k = k + 1;
						}
					}
				}
				if(k == 4){
					hc = this.hard_compare();
					sc = this.soft_compare();
					console.log(hc + " , " + sc);
					var children = document.getElementById('step' + this.cursor).childNodes;
					for (var i = 7; i < 7+hc; ++i) {
						children[i].classList.remove("defc");
						children[i].classList.add("bl");
					}
					for (var i = 7+hc; i < 7+sc; ++i) {
						children[i].classList.remove("defc");
						children[i].classList.add("wh");
					}
					if(hc == 4){
						alert('Крассавчик просто)');
					}else if(this.cursor == 5){
						this.showPalette = false;
						this.showAnswer = true;
						alert('Ну ты тууупоооой..., иди тренеруйся');
					}else{
						if(this.cursor == 4){
							alert('Соберись тряпка, последний раунд...');
						}
						this.cursor += 1;
						this.invite();
					}
				}else{
					alert('Не тупи, вводи 4 цвета...');
				}
				this.els = [];
			},
			hard_compare(){
				console.log(this.els);
				var k = 0;
				for(var i=0;i<4;i++){
					if(this.shuffle[i] == this.els[i].classList[0]){
						k++;
					}
				}
				return k;
			},
			soft_compare(){
				var k = 0;
				temp_game = this.shuffle.slice();
				for(var i=0;i<4;i++){
					if(temp_game.includes(this.els[i].classList[0])){
						k++;
						temp_game[temp_game.indexOf(this.els[i].classList[0])] = -1;
					}
				}
				return k;
			},
			invite(){
				var ch = document.getElementById('step' + this.cursor).childNodes;
				for (var i = 0; i < 4; ++i) {
					ch[i].classList.remove("defc");
					ch[i].classList.add("inv");
				}
			}
		},
		mounted(){
			//this.invite();
		}
      });
	  
    </script>
</script>
</html>